{% extends 'backend.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>QuestionId</th>
                <th>Question</th>
                <th>Option1</th>
                <th>Option2</th>
                <th>Option3</th>
                <th>Option4</th>
                <th>Answer</th>
                <th>Quiz</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.questionId }}</td>
                <td>{{ question.question }}</td>
                <td>{{ question.option1 }}</td>
                <td>{{ question.option2 }}</td>
                <td>{{ question.option3 }}</td>
                <td>{{ question.option4 }}</td>
                <td>{{ question.answer }}</td>
                <td>{{ question.quiz }}</td>
                <td>
                    <a href="{{ path('question_show', {'questionId': question.questionId}) }}">show</a>
                    <a href="{{ path('question_edit', {'questionId': question.questionId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_new') }}">Create new</a>
{% endblock %}
