{% extends 'base.html.twig' %}

{% block title %} {% trans %} Details{% endtrans %} {% endblock %}

{% block body %}
    <h1>{% trans %}Details {% endtrans %} {{ "de l'evenement" ~" "~ p.nom }}</h1>
    <br>
    <table>
        <tr>
            <p>{% trans %}Image {% endtrans %} : {{ p.image }}</p>
        </tr>

        <tr>
            <p>{% trans %} Lieu{% endtrans %} : {{ p.lieu }}</p>
        </tr>

        <tr>
            <p>{% trans %} Date{% endtrans %} : {{ p.date | date("d-m-y") }}</p>
        </tr>

        <tr>
            <p>{% trans %}Organisateur {% endtrans %} : {{ p.organisateur}}</p>
        </tr>

        

      

        <br>

    </table>

{% endblock %}