{% extends 'base.html.twig' %}

{% block body %}

<!-- Dashboard Content
================================================== -->
<div class="container">
    <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
            <h3>AJOUTER UN PRODUIT</h3>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="dark">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Ajouter produit</a></li>
                </ul>
            </nav>
        </div>

        <!-- Row -->
        <div class="row">

            <!-- Dashboard Box -->
            <div class="col-xl-12">
                <div class="dashboard-box margin-top-0">

                    <!-- Headline -->
                    <div class="headline">
                        <h3><i class="icon-feather-folder-plus"></i> Ajouter un produit</h3>
                    </div>

                    <div class="content with-padding padding-bottom-10">
                        <div class="row">
                            {{ form_start(f,{'attr': {'novalidate': 'novalidate'}} ) }}
                            <div class="col">
                                {{ form_label(f.nom, 'Nom produit *') }}
                                <h5>
                                    {{ form_widget(f.nom, {'attr': {'class': 'with-border','placeholder':'Nom produit'}}) }}
                                </h5>
                            </div>

                            <div class="col-xl-6">
                                {{ form_label(f.prix, 'Prix produit *') }}
                                <div class="input-with-icon">
                                    {{ form_widget(f.prix, {'attr': {'class': 'with-border','placeholder':'Prix produit'}}) }}
                                    <i class="currency">DT</i>
                                </div>
                            </div>

                            <div class="col">
                                {{ form_label(f.fournisseur, 'Fournisseur *') }}
                                {{ form_widget(f.fournisseur, {'attr': {'class': 'with-border','placeholder':'Fournisseur'}}) }}
                            </div>
                            <div class="col-xl-12">
                                <div class="submit-field">
                                    {{ form_label(f.description, 'Description *') }}
                                    {{ form_widget(f.description, {'attr': {'class': 'with-border','placeholder':'Description'}}) }}
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <div class="uploadButton margin-top-30">
                                            <div onchange="loadFile(event)">
                                                {{ form_label(f.image, 'Choisir une image', {'label_attr': {'class': 'uploadButton-button ripple-effect'}}) }}
                                                {{ form_widget(f.image, {'attr': {'for':'upload'}}) }}
                                                <img src="https://identix.state.gov/qotw/images/no-photo.gif"
                                                     id="output" width="200" height="200"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="uploadButton margin-top-30">
                                            <div onchange="loadFile1(event)">
                                                {{ form_label(f.image1, 'Choisir une image', {'label_attr': {'class': 'uploadButton-button ripple-effect'}}) }}
                                                {{ form_widget(f.image1, {'attr': {'for':'upload'}}) }}
                                                <img src="https://identix.state.gov/qotw/images/no-photo.gif"
                                                     id="output1" width="200" height="200"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="uploadButton margin-top-30">
                                            <div onchange="loadFile2(event)">
                                                {{ form_label(f.image2, 'Choisir une image', {'label_attr': {'class': 'uploadButton-button ripple-effect'}}) }}
                                                {{ form_widget(f.image2, {'attr': {'for':'upload'}}) }}
                                                <img src="https://identix.state.gov/qotw/images/no-photo.gif"
                                                     id="output2" width="200" height="200"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="uploadButton margin-top-30">
                                            <div onchange="loadFile3(event)">
                                                {{ form_label(f.image3, 'Choisir une image', {'label_attr': {'class': 'uploadButton-button ripple-effect'}}) }}
                                                {{ form_widget(f.image3, {'attr': {'for':'upload'}}) }}
                                                <img src="https://identix.state.gov/qotw/images/no-photo.gif"
                                                     id="output3" width="200" height="200"/>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="uploadButton margin-top-30">
                                            <div onchange="loadFile4(event)">
                                                {{ form_label(f.image4, 'Choisir une image', {'label_attr': {'class': 'uploadButton-button ripple-effect'}}) }}
                                                {{ form_widget(f.image4, {'attr': {'for':'upload'}}) }}
                                                <img src="https://identix.state.gov/qotw/images/no-photo.gif"
                                                     id="output4" width="200" height="200"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12">
                            {{ form(f, {'method': 'POST'}) }}
                            {{ form_end(f) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row / End -->

            <script>
                var loadFile = function (event) {
                    var image = document.getElementById('output');
                    image.src = URL.createObjectURL(event.target.files[0]);
                };
                var loadFile1 = function (event) {
                    var image1 = document.getElementById('output1');
                    image1.src = URL.createObjectURL(event.target.files[0]);
                };
                var loadFile2 = function (event) {
                    var image2 = document.getElementById('output2');
                    image2.src = URL.createObjectURL(event.target.files[0]);
                };
                var loadFile3 = function (event) {
                    var image3 = document.getElementById('output3');
                    image3.src = URL.createObjectURL(event.target.files[0]);
                };
                var loadFile4 = function (event) {
                    var image4 = document.getElementById('output4');
                    image4.src = URL.createObjectURL(event.target.files[0]);
                };
            </script>

        </div>
    </div>
    <!-- Dashboard Content / End -->


    {% endblock %}