{% extends 'base1.html.twig' %}

{% block body %}
    {#  <h1>{% trans %} Connexion {% endtrans %}</h1> #}
    <br>
    <!-- Login -->
    <div class="popup-tab-content" id="login">

        <!-- Welcome Text -->
        <div class="welcome-text">
            <h3>{% trans %} Nous sommes ravis de vous revoir!{% endtrans %}</h3>
            <span> {% trans %} Vous n'avez pas de compte?{% endtrans %}<a href="{{ path('personneAjoute') }}">{% trans %} S'inscrire{% endtrans %}</a> </span>
        </div>

        <!-- Form-->
        <form method="post">
            {% if error %}
                {# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    <br>
                    {% trans %}Vous etes connecte en tant que {% endtrans %} <h1>{{ app.user.username }}</h1> , <a href="{{ path('app_logout') }}">Logout</a>
                    <br>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
        </form>

        <!-- Button
        <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="login-form">{% trans %} Log In {% endtrans %}<i class="icon-material-outline-arrow-right-alt"></i></button>-->

        <!-- Social Login
                <div class="social-login-separator"><span>{% trans %}or {% endtrans %}</span></div>
                <div class="social-login-buttons">
                    <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> {% trans %} Se connecter via Facebook{% endtrans %}</button>
                    <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> {% trans %} Se connecter via Google+{% endtrans %}</button>
                </div>-->

    </div>

{% endblock %}