{% extends 'base.html.twig' %}

{% block title %}Secteur{% endblock %}

{% block body %}
    <h1>Secteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSecteur</th>
                <td>{{ secteur.idSecteur }}</td>
            </tr>
            <tr>
                <th>NomSecteur</th>
                <td>{{ secteur.nomSecteur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('secteur_index') }}">back to list</a>

    <a href="{{ path('secteur_edit', {'idSecteur': secteur.idSecteur}) }}">edit</a>

    {{ include('secteur/_delete_form.html.twig') }}
{% endblock %}
