{% extends 'backend.html.twig' %}

{% block title %}Resultat{% endblock %}

{% block body %}
    <h1>Resultat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resultat.id }}</td>
            </tr>
            <tr>
                <th>Quizid</th>
                <td>{{ resultat.quizid }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ resultat.note }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ resultat.userid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('resultat_index') }}">back to list</a>

    <a href="{{ path('resultat_edit', {'id': resultat.id}) }}">edit</a>

    {{ include('resultat/_delete_form.html.twig') }}
{% endblock %}
