
<center><h1><u>Lettre de motivation</u></h1></center>


{{ nom }} {{ prenom }}<br>
{{ email }}<br>


<br>
<br>
<br>

Objet : demande d'emploi<br>
<br>
<br>
Madame, Monsieur,<br>
<br>
         Je m'appelle {{ nom }} {{ prenom }} je suis àgé de {{ age }} ans je suis titulaire d'un {{ diplome }},<br>  j'ai vu votre annonce sur
officium j'aimerais postuler à loffre de travail.<br>
           Ma formation et mes expériences professionnelles m'ont permis d'acquérir les compétences présentées dans mon CV <br>
<br>
         Dans l'attente d'une suite favorable veuillez agréer mes salutations les plus sincères.<br>
<br>
<br>

                                                                  {{ prenom }} {{ nom }}



















