{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}

    <h1>Offre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numoffre</th>
                <td>{{ offre.numoffre }}</td>
            </tr>
            <tr>
                <th>Nom de l'offre</th>
                <td>{{ offre.nomoffre }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ offre.dateCreation ? offre.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateExpiration</th>
                <td>{{ offre.dateExpiration ? offre.dateExpiration|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ offre.disponibilite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('offre_index') }}">back to list</a>

    <a href="{{ path('offre_edit', {'numoffre': offre.numoffre}) }}">edit</a>

    {{ include('offre/_delete_form.html.twig') }}
{% endblock %}
